---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered" id="page-section">
                <div class="section">
                    <h1 class="title is-0.5 is-uppercase has-text-weight-bold has-text-grey">
                        {{page.title}}
                    </h1>               
                    <h3 class="subtitle has-text-grey has-text-weight-medium is-marginless">
                        {{page.description}}
                    </h3>                                     
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>




